.nav {
    display: block;
    width: 100%;
    float: left;
}
.nav-pills li {
    display: block;
    padding: 5px 20px;
    border: 1px solid #55a;
    border-bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    float: left;
    margin-left: 5px;
}
.nav-pills li.active {
    border-top: 3px solid #55a;
}
