{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?v={{databench_version}}" />
<link rel="stylesheet" href="/static/font-awesome.min.css?v={{version}}" />
<link rel="stylesheet" href="/angular/analysis.css?v={{version}}" />
{% end %}


{% block analysis %}
<div ng-app="angularApp" ng-strict-di>
<div ng-controller="navCtrl">
    <ul class="nav nav-pills">
        <li ng-class="{active: navCheck('home')}"><a href='#/home'>Home</a></li>
        <li ng-class="{active: navCheck('simplepi')}"><a href='#/simplepi'>Simple π</a></li>
    </ul>

    <div ng-show="navCheck('home')" ng-controller="testingAngular">

        <h1>Angular.js Introduction</h1>

        This page shows two of <code>angular.js</code> most popular applications. First,
        you get the nav-bar on top almost for free. The four tabs it accesses
        are part of a single page. This is pure JavaScript and you always stay
        inside this one page (even though the url bar of your browser updates).
        Second, the standard hello world example for frameworks like
        <code>angular.js</code> is tested below.

        The <code>simplepi</code> example that is also included here (in the other tabs)
        makes use of angular's data-binding. When a <code>status</code> signal is received
        from the Databench backend, the callback function simply assigns the new
        estimate of π to a variable of an angular controller, say <code>pi</code>. In the
        html file, the value is shown in an angular variable placeholder
        <code ng-non-bindable>[[pi]]</code>.


        <h1>Live Demo of Data Binding</h1>

        Here is the standard code and right below is the live demo.


        <input type="text" ng-model="chapter">
        <p>What you just typed: <code>{% raw "{{chapter}}" %}</code></p>
    </div>

    <div ng-show="navCheck('simplepi')" ng-controller="simplepi">
        <h1>
            Simplepi
            <small><i>π = {% raw "{{pi}}" %}</i></small>
        </h1>

        <p>This little demo uses two random numbers r1 and r2 and then does a comparison
        <code>r1^2 + r2^2 < 1.0</code> to figure out whether the generated point is
        inside the first quadrant of the unit circle.</p>
    </div>

</div>
</div>
{% end %}


{% block footer %}
<script src="/_static/databench.js?v={{databench_version}}"></script>
<script src="/static/angular_1.2.15.min.js"></script>
<script src="/angular/analysis.js?v={{version}}"></script>
{% end %}


{% block log %}{% end %}
