{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?v={{databench_version}}">
<link rel="stylesheet" href="/static/font-awesome.min.css?v={{version}}">
{% end %}


{% block analysis %}
<h1><i>π = <span id="pi">0.0 ± 1.0</span></i></h1>
<img alt="matplotlib output" data-signal="mpl" style="max-width: 100%" src="/_static/logo.svg" />
{% end %}


{% block footer %}
<script src="/_static/databench.js?v={{databench_version}}"></script>
<script src="/mplpi/static/analysis.js?v={{version}}"></script>
{% end %}
