{% extends "templates/analysis.html" %}


{% block analysis %}
{% filter markdown %}
# fastpi <small><i>π = <span id="pi-estimate">0.0 ± 1.0</span></i></small>

This little demo uses two random numbers \\(r_1\\) and \\(r_2\\) and then
does a comparison $$r_1^2 + r_2^2 < 1.0$$ to figure out whether the
generated point is inside the first quadrant of the unit circle.

__Make sure you have a _redis-server_ running.__
{% endfilter %}

<hr />
<div class="row">
    <div class="col-sm-3">
        <label for="workers">Workers</label>
        <input type="range" name="workers" min="1" max="24" value="2" />
    </div>
</div>
<hr />

<pre id="log"></pre>

<br /><br /><hr />
<h3>Source Code</h3>
analysis.py: [[ include_src('fastpi/analysis.py', 'python') ]]
index.html: [[ include_src('fastpi/index.html') ]]
{% end %}


{% block footer %}
<script>
    var databench = Databench();

    databench.on('status', function(msg) {
        $('#pi-estimate').text(msg['pi-estimate'].toFixed(3) +
            ' ± '+msg['pi-uncertainty'].toFixed(3));
    });
</script>
{% end %}
