{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
{% end %}


{% block analysis %}
<svg id="canvas" width="800" height="300" />

<hr />
<div class="row">
    <div class="col-md-3">
        <label for="n_flowers">number of flowers:</label>
        <input type="range" name="n_flowers" min="1" max="20" step="1" value="3" data-instance="n_flowers" />
    </div>
    <div class="col-md-3">
        <label for="branch_angle">branching angle:</label>
        <input type="range" name="branch_angle" min="10" max="90" step="10" value="10" data-instance="branch_angle" id="branch_angle" />
    </div>
    <div class="col-md-3">
        <label for="init_size">trunk thickness:</label>
        <input type="range" name="init_size" min="0.005" max="0.100" step="0.005" value="0.03" data-instance="init_size" />
    </div>
    <div class="col-md-3">
        <label for="init_length">trunk length:</label>
        <input type="range" name="init_length" min="0.01" max="0.2" step="0.01" value="0.05" data-instance="init_length" />
    </div>
</div>
{% end %}


{% block footer %}
<script src="/node_modules/d3/d3.min.js"></script>
<script>
    var d = new Databench.Connection();
    // wire ui elements and reconfigure branching angle slider
    Databench.ui.wire(d);
    var ba_s = document.getElementById('branch_angle').databench_ui;
    ba_s.v_to_slider = function(radians) { return radians*57.0; }
    ba_s.slider_to_v = function(degrees) { return degrees/57.0; }
    ba_s.v_repr = function(v) { return (v*57.0).toFixed(0)+' degrees'; }
    // now connect to backend
    d.connect();

    var flowers = Flowers('canvas');
    d.on('data', function(msg) {
        if ('lines' in msg) flowers(msg['lines']);
    });


    // define how to draw flowers with d3.js
    function Flowers(id) {
        var svg = d3.select('#'+id),
            height = parseFloat(svg.attr('height')),
            width = parseFloat(svg.attr('width'));

        return function(json) {
            lines = svg.selectAll(".line").data(json, function(d) { return d[0]; });

            lines.enter()
                .append("svg:line")
                .attr("class", "line")
                .attr("x1", function(d) { return width*d[1]; })
                .attr("y1", function(d) { return height*(1.0-d[2]); })
                .attr("x2", function(d) { return width*d[3]; })
                .attr("y2", function(d) { return height*(1.0-d[4]); })
                .style("stroke", function(d) { return d3.hsl(100,d[6],d[6]).toString(); })
                .style("stroke-width", 0.0);

            lines.transition()
                .duration(250)
                .style("stroke-width", function(d,i) { return width*d[5]; });

            lines.exit()
                .remove();

        };
    }
</script>
{% end %}
