{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?v={{databench_version}}">
<style>
#genValue, #recValue {
    font-size:600%; color:#008;
}
</style>
{% end %}


{% block analysis %}
<h3>Generator <small id="genName"></small></h3>
<span id="genValue">50</span>
<br />
<button class="btn btn-default" id="btnSlow">Slow</button>
<button class="btn btn-danger" id="btnFast">Fast</button>
{% end %}


{% block footer %}
<script src="/_static/databench.js?v={{databench_version}}"></script>
<script src="/redispub/static/analysis.js?v={{version}}"></script>
{% end %}
