{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/_static/databench.css?version={{ databench_version }}">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css?v={{ version }}">
{% end %}


{% block analysis %}
<h1>React App</h1>
<div id="example">react-dom not rendered</div>
{% end %}


{% block footer %}
<script src="/_static/databench.js?v={{ databench_version }}"></script>
<script src="/node_modules/react/dist/react.min.js"></script>
<script src="/node_modules/react-dom/dist/react-dom.min.js"></script>
<script src="/helloreact/static/bundle.js?v={{ version }}"></script>
{% end %}


{% block log %}{% end %}
