{% extends "base.html" %}
{% block title %}mpld3PointLabel{% endblock %}


{% block content %}

{% filter markdown %}
# mpld3PointLabel

Testing the PointLabelTooltip plugin of [mpld3](http://mpld3.github.io/). 
The plot is created with [matplotlib](http://matplotlib.org/) and rendered 
in [d3.js](http://d3js.org/) using [mpld3](http://mpld3.github.io/).

If you look at the source code for this template, you will also see that 
this documentation is a block of `markdown` embedded in the HTML.
{% endfilter %}

<div id="mpld3canvas"></div>
<pre id="log"></pre>
{% endblock %}


{% block footerscripts %}
<script>
	var databench = Databench('mpld3PointLabel');
	databench.genericElements.log($('#log'));
	databench.genericElements.mpld3canvas($("#mpld3canvas"));
</script>
{% endblock %}
