{% from 'macros.html' import include_src %}
{% extends "base.html" %}


{% block title %}mpld3Drag{% endblock %}


{% block content %}
{% filter markdown %}
# mpld3Drag

Testing custom plugins for mpld3. The plot is created with `matplotlib` and
rendered in `d3.js` using `mpld3`. This is based on
[http://mpld3.github.io/examples/heart_path.html](http://mpld3.github.io/examples/heart_path.html).
The only difference is that the JavaScript code is moved from the string in
the Python plugin class directly into the `<script>`-tag on the frontend.
{% endfilter %}

<div id="mpld3canvas"></div>

<pre id="log"></pre>

<br /><br /><hr />
<h3>Source Code</h3>
mpld3Drag.py: {{ include_src('mpld3Drag.py', 'python') }}
mpld3Drag.html: {{ include_src('templates/mpld3Drag.html') }}
{% endblock %}


{% block footerscripts %}
<script>
  mpld3.register_plugin("drag", DragPlugin);
  DragPlugin.prototype = Object.create(mpld3.Plugin.prototype);
  DragPlugin.prototype.constructor = DragPlugin;
  DragPlugin.prototype.requiredProps = ["idpts", "idline", "idpatch"];
  DragPlugin.prototype.defaultProps = {}
  function DragPlugin(fig, props){
      mpld3.Plugin.call(this, fig, props);
  };

  DragPlugin.prototype.draw = function(){
      var patchobj = mpld3.get_element(this.props.idpatch, this.fig);
      var ptsobj = mpld3.get_element(this.props.idpts, this.fig);
      var lineobj = mpld3.get_element(this.props.idline, this.fig);

      var drag = d3.behavior.drag()
          .origin(function(d) { return {x:ptsobj.ax.x(d[0]),
                                        y:ptsobj.ax.y(d[1])}; })
          .on("dragstart", dragstarted)
          .on("drag", dragged)
          .on("dragend", dragended);

      lineobj.path.attr("d", lineobj.datafunc(ptsobj.offsets));
      patchobj.path.attr("d", patchobj.datafunc(ptsobj.offsets,
                                                patchobj.pathcodes));
      lineobj.data = ptsobj.offsets;
      patchobj.data = ptsobj.offsets;

      ptsobj.elements()
         .data(ptsobj.offsets)
         .style("cursor", "default")
         .call(drag);

      function dragstarted(d) {
        d3.event.sourceEvent.stopPropagation();
        d3.select(this).classed("dragging", true);
      }

      function dragged(d, i) {
        d[0] = ptsobj.ax.x.invert(d3.event.x);
        d[1] = ptsobj.ax.y.invert(d3.event.y);
        d3.select(this)
          .attr("transform", "translate(" + [d3.event.x,d3.event.y] + ")");
        lineobj.path.attr("d", lineobj.datafunc(ptsobj.offsets));
        patchobj.path.attr("d", patchobj.datafunc(ptsobj.offsets,
                                                  patchobj.pathcodes));
      }

      function dragended(d, i) {
        d3.select(this).classed("dragging", false);
      }
  }

  mpld3.register_plugin("drag", DragPlugin);


  var databench = Databench('mpld3Drag');
  databench.genericElements.log($('#log'));
  databench.genericElements.mpld3canvas($("#mpld3canvas"));
</script>
{% endblock %}
