{% extends "analysis.html" %}


{% block head %}
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
{% end %}


{% block analysis %}
<h1><i>π = <span id="pi">0.0 ± 1.0</span></i></h1>
{% end %}


{% block footer %}
<script>
    var d = new Databench.Connection();
    Databench.ui.wire();
    d.connect();

    d.on('data', function(data) {
        document.getElementById('pi').innerText = data['pi']['estimate'].toFixed(3)+' ± '+data['pi']['uncertainty'].toFixed(3);
    });
</script>
{% end %}
